/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* Generic styles */
:root {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

    --black: #050807;
    --dark-gray: #181818;
    --dark-gray2: #212121;
    --gray: #9f9e9e;
    --white: #fff;
    --green: #37df11;

    --border: 2px solid var(--dark-gray2);
}

body {
    background-color: var(--black);
    color: var(--white);
    overflow-x: hidden;
}

h1 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding-bottom: 3rem;
}

header {
    margin-bottom: 2rem;
}

/* Nav bar */
.nav-bar {
    background-color: var(--black);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5rem;
    font-weight: 500;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-logo {
    text-align: center;
    padding: 1.5rem;
    display: none;
}

.nav-logo img {
    width: 100%;
}

.nav-item {
    flex: 1;
}

.nav-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 5rem;
    opacity: 0.6;
    transition: opacity 0.3s;
}

:where(.nav-item, .nav-item-active) a:hover,
.nav-item a:focus,
.nav-item-active a {
    opacity: 1;
}

.nav-item-active .nav-label {
    font-weight: 600;
}

.nav-item .nav-icon {
    font-size: 2rem;
}

.nav-item .nav-label {
    display: none;
    margin-left: 1rem;
}

/* Content & header */
.content {
    padding: 1.5rem;
}

.heading-caption {
    display: block;
    margin-top: -1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--gray);
}

/* Search */
input[type='search'] {
    /*  */
    background-color: var(--dark-gray);
    /* background-color: var(--black);
    border: var(--border); */
    border: none;
    color: inherit;
    border-radius: 0.5rem;
    width: 100%;
    display: inline-block;
    padding: 0.75rem 1.25rem;
}

input[type='search']:focus {
    outline: 2px solid var(--dark-gray2);
}

/* Artist List */
.artist-item a {
    padding: 0.75rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s;
}

.artist-item a:hover {
    background-color: var(--dark-gray);
}

.artist-item span {
    background-color: var(--dark-gray);
    color: var(--gray);
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.2s;
}

.artist-item a:hover span {
    background-color: var(--green);
    color: var(--black);
}

.artist-item h2 {
    font-size: 1.25rem;
    font-weight: 500;
}

/* Album List */
.album-list {
    width: calc(100% + 3rem);
    margin-left: -1.55rem;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.album-list::-webkit-scrollbar {
    display: none;
}

.album-item {
    scroll-snap-align: start;
    flex: 0 0 45%;
    padding-left: 1.5rem;
}

.album-item a {
    transition: opacity 0.3s;
}

.album-item a:hover {
    opacity: 0.85;
}

.artwork {
    position: relative;
}

.artwork-image {
    width: 100%;
    border-radius: 10%;
}

.artwork-shadow {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -40%);
    filter: blur(30px);
    z-index: -1;
    opacity: 0.8;
}

.album-item h2 {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.75rem;
}

/* Song List */
.song-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-block: 1.5rem;
}

.song-index {
    color: var(--gray);
    flex: 0 0 1.25rem;
    text-align: center;
}

.song-item img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--dark-gray);
    border-radius: 0.4rem;
}

.song-item h2 {
    font-size: 1rem;
    font-weight: 500;
}

.song-duration {
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: flex-start;
    display: none;
}

/* Media queries */

@media screen and (min-width: 40rem) {
    ul {
        padding-bottom: 0;
    }

    .nav-bar {
        width: 18rem;
        height: 100vh;
        left: 0;
        top: 0;
        padding: 2rem;
    }

    .nav-bar ul {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-item {
        width: 100%;
    }

    .nav-item a {
        align-items: center;
        justify-content: flex-start;
    }

    .nav-item .nav-label {
        display: inline;
    }

    .nav-logo {
        display: block;
        width: 100%;
    }

    .content {
        margin-left: 18rem;
        padding: 3.5rem 1.5rem;
    }

    .song-item img {
        width: 3.5rem;
        height: 3.5rem;
        border-radius: 0.6rem;
    }

    .song-item h2 {
        flex: 0 0 60%;
    }

    .song-duration {
        display: flex;
    }
}

@media screen and (min-width: 60rem) {
    .album-item {
        flex: 0 0 30%;
        padding-right: 1rem;
    }
}

@media screen and (min-width: 80rem) {
    .album-item {
        flex: 0 0 23%;
    }
}

@media screen and (min-width: 100rem) {
    .album-item {
        flex: 0 0 15vw;
    }
}
